* {
    box-sizing: border-box;
}

html, body {
    font-family: "roboto", sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: white;
}

.info-layer,
.quote-layer
{
    margin: 2em 0em;
}

.header {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    color: white;
    align-items: center;
    justify-content:space-between;
    padding-bottom: 2em;
}

#header-top, 
#header-bottom {
    margin: 1rem 0;
    gap: 20rem;
}

#header-top {
    display: flex;
    justify-content: space-between;
}

.header a {
    margin: 0.5em;
}

.logo {
    width: 100px;
    height: 100px;
}

#header-bottom {
    display: flex;
    justify-content: space-between;
    flex: 2 1 auto;
}

#header-bottom-left {
    display: flex;
    flex-direction: column;
    width: 20rem;
}

#header-bottom-left button {
    border: 0.125em solid #3882F6;
    background-color: #3882F6;
    border-radius: 1em;
    padding: 0.5em;
}

#header-bottom-right {
    display: flex;
    flex-direction: column;
}

#header-bottom-right img{
    transform: rotate(90deg);
    height: 300px;
}

.info-layer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.card {
    display: flex;
    flex-direction: column;
    padding: 1em;
    margin: 1em;
    border: 0.125em solid black;
    border-radius: 1em;
    justify-content: center;
}

.quote-layer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #E5E7EB;
    padding: 2em;
}

.quote-layer p {
    width: 30em;
}

.quote-layer h4 {
    justify-self: right;
}

.signup-layer {
    display: flex;
    justify-content: center;
    margin: -1em 0 1em;
}

.signup-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #3882F6;
    border: 0.25em solid #3882F6;
    border-radius: 1em;
    width: 50em;
    margin: 2em;
}

.signup-container button {
    border: 0.125em solid white;
    border-radius: 1em;
    padding: 0.5em;
}

.footer {
    display: flex;
    justify-content: center;
    background-color: #1F2937;
}

.footer a {
    margin: 2em;
}